@media (min-width: 1025px) {
    #mw-panel {
        transition: transform 0.3s ease;
    }

    #content {
        transition: margin-left 0.3s ease-in-out;
    }

    #mw-panel.collapsed{
        transform: translateX(-100%);
    }

    #content.collapsed {
        margin-left: 0pt;
    }
}



@media (max-width: 1024px) {
    #mw-panel {
        transition: transform 0.3s ease;
    }

    #content {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 0pt;
    } 

    #mw-panel.collapsed{
        transform: translateX(-100%);
    }

    /* #content.collapsed {
        margin-left: 0pt;
    } */
}