/* This is imported by MediaWiki:Common.css */
/* CSS placed here will be applied to all skins */
/*needs to be first line to load font*/
@import url('//fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700;800&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in iOS condition reports and landscape mode, while allowing user zoom */
}

p:has(+ .wikitable) {
    display: none;
}

/* fixes extra <br> added by ask / template reported here: phabricator.wikimedia.org/T60991 */

.wikitable th {
    /*sticky table headers (doesn't work on mobile because of the overflow-auto) */
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color: #c9deed !important;
    box-shadow: inset 0 1px 0 #aaaaaa, inset 0 -1px 0 #aaaaaa;
    z-index: 1;
}

.canyon-popup-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#legend {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 4px;
    border-radius: 8px;
}

.diff-currentversion-title {
    top: -14px;
    position: relative;
}

.previewnote {
    margin-bottom: 20px;
}



li#n-How-to-contribute a {
    margin-left: -5px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
}


div.thumb {
    border-radius: 4px;
}

#firstHeading.Permit::before {
    margin-right: 0px;
    position: relative;
    bottom: -2px;
    width: 34px;
    height: 30px;
    background-size: 34px 34px;
    display: inline-block;
    content: "";
}

#firstHeading.Permit::after {
    content: '';
    position: relative;
    height: 8px;
    top: 0px;
    display: block;
    clear: both;
}

#firstHeading.unexplored::before {
    content: url(/images/9/9b/Unexplored.png);
    margin-right: 6px;
    position: relative;
    bottom: -2px;
}

.firstHeadingTooltip {
    width: 34px;
    height: 36px;
    display: inline-block;
    position: relative;
    margin-left: -34px;
    margin-bottom: -7px;
}

div#mw-panel div.portal div.body ul li {
    font-size: 0.875em;
}

.textselect a {
    outline: none;
}

button.gm-ui-hover-effect {
    outline: none;
}

.overallrating-header {
    margin-top: 16px;
    display: inline-block;
}

.overallrating {
    line-height: 16px;
}

.detailsTable {
    position: relative;
    left: -74px;
    display: table-caption;
    /*this is to fix alignment*/
    text-align: right;
    font-size: 14px;
    white-space: nowrap;
}

.detailsTable th span {
    display: inline-block;
    width: 64px;
}

.detailsTable td {
    border-bottom: 1px dashed #d8d8d8;
}

tr.overall>td {
    /* background-color: #e8e8e8; */
    border-bottom: gainsboro 2px solid;
}

th.subheader {
    font-weight: normal;
}

.aka-names {
    display: block;
    position: relative;
    top: -20px;
    margin-left: 4px;
    margin-bottom: -12px;
}

input,
button {
    color: black;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#simpleSearch input {
    box-shadow: none;
}

input:hover,
button:hover,
label:hover {
    background-color: #ebebeb;
}

input:focus,
button:focus,
label:focus {
    outline-color: darkgray;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    /*remove default styling on mobile for input buttons*/
}

.gm-ui-hover-effect {
    box-shadow: none;
    /*close button in upper right on marker popup*/
}

.toggleswitch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;
    top: 5px;
}

.toggleswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.toggleslider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -4px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0px 0px 5px grey;
}

input:checked+.toggleslider {
    background-color: #2196F3;
}

input:checked+.toggleslider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.toggleslider.round {
    border-radius: 18px;
}

.toggleslider.round:before {
    border-radius: 50%;
}

input[type="date"] {
    width: 100px;
}

input::-webkit-datetime-edit {
    overflow: visible;
}

.userlistbutton {
    color: rgb(25, 25, 25);
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #cecece;
    border-radius: 4px;
    height: 28px;
}

.userlistbutton.edit {
    width: 64px;
    font-size: 15px;
    line-height: 20px;
}

.userlistbutton.commit {
    width: 30px;
    font-size: 15px;
    background-color: #70a0f9;
    color: white;
}

.userlistbutton.cancel {
    padding-left: 5px;
    width: 30px;
    font-size: 16px;
    line-height: 24px;
}

.userlistbutton.remove {
    line-height: 0px;
    font-size: 18px;
}

.userlistbutton.edit:hover {
    background-color: #eaeaea;
}

.userlistbutton.cancel:hover {
    background-color: #eaeaea;
}

.userlistbutton.commit:hover {
    background-color: #648cd6;
}

.userlistbutton.remove:hover {
    background-color: #ec7f6d;
}

.userlistbutton.showmore {
    margin: 4px;
}

.formtable td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.generalcomment-header {
    vertical-align: top;
    padding-top: 10px;
    width: 130px;
}

.generalcomment-cell {
    vertical-align: top;
}

#generalcomment-comment {
    padding: 10px;
    display: block;
}

.srf-slideshow .slideshow-nav-readout {
    top: -0.1em;
}

.srf-slideshow {
    margin: auto;
}

.slideshow {
    margin-left: 2px;
    margin-right: 2px;
}

.srf-slideshow .slideshow-nav {
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #f1f2ff;
    margin-top: -11px;
    margin-bottom: 7px;
    margin-left: 1.6em;
    margin-right: 1.6em;
}

a.ui-slider-handle.ui-state-default.ui-corner-all {
    height: 16px;
    width: 26px;
    top: -5px;
    line-height: 19px;
    padding: 0px;
    border-radius: 4px;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -1.4em;
}

li img {
    /* this is for the country flag that appears next to beta site links */
    padding-right: 3px;
}

#loadmore button {
    margin-bottom: 4px;
}

#searchinfo.cancel {
    position: relative;
    bottom: 6px;
}

.rwSortIcon {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    width: 14px;
    height: 18px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    z-index: 2;
    background-image: url("/images/2/2c/Sorticon.png");
}

.rwSortIcon:hover {
    opacity: 1.0;
}

.rwText {
    position: relative;
    bottom: 5px;
    margin: 3px;
}

.rwTextNoSort {
    /* without the sort button, the text gets moved up */
    position: relative;
    bottom: -3px;
}

.controls.dragcontrol {
    cursor: row-resize;
    height: 20px;
    width: 34px;
    margin-bottom: 20px;
    line-height: 10px;
}

#ghostbar {
    /* the 'ghost' bar that appears when resizing the map */
    height: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999;
}

.filterchk label {
    display: inline-block;
}

.filterchk label>input {
    pointer-events: none;
    margin-left: 0px;
    margin-right: 3px;
}

.filterchk.permits label {
    margin-right: 6px;
}

.filterchk.vehicle label {
    margin-right: 4px;
}

.filterchk.season label {
    width: 40px;
    float: left;
}

.filterchk.rating label {
    min-width: 34px;
}

.filterchk.marker label {
    width: 38px;
}

.filterchk.marker input {
    margin: 0px;
}

.rating-tr {
    position: relative;
    left: -12px;
    top: 4px;
}

/* this sets the styling of the "Details" section in the canyon right sidebar */
.detailsRow {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    margin-bottom: 2px;
}

.detailsRow pre {
    white-space: normal;
}

.detailsRow.detailsRowDescriptor {
    font-weight: bold;
    text-align: right;
    left: -87px;
    width: 80px;
    position: absolute;
}

/* remove the external link indicator */
#content a.external {
    background: none !important;
    padding: 0 !important;
}



.VIP {
    background-color: red;
    color: yellow;
    font-weight: bold;
    border-radius: 8px;
    padding: 1px 4px 1px 4px;
    margin: 0 4px 0 auto;
    position: relative;
    left: 3px;
    display: inline-block;
    cursor: pointer;
}

.VIP::after {
    content: "After 100 ratings a user's score doubles in weight.";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 12px;
}

.VIP:hover::after {
    opacity: 1;
}

.prediv {
    border-style: solid;
    color: black;
    border-width: 1px;
    white-space: pre;
    font-family: monospace;
}

.formregiontable td,
th {
    vertical-align: top;
}

#content {
    transition: margin-left 0ms, padding 0ms !important;
}

th {
    text-transform: capitalize;
}

.note {
    border: 1px solid black;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
    background: #DDFFEE;
}

.client-nojs .smwttcontent {
    font-size: .7em;
}

.client-nojs .smwttcontent:before {
    content: " (";
}

.client-nojs .smwttcontent:after {
    content: ")";
}



th.headerSort {
    white-space: nowrap;
}



.popforms * {
    color: red !important;
}

/*fix problem with KML InfoWindows*/
.gm-style-iw,
.gm-style-iw div {
    font-family: Roboto, Arial, sans-serif !important;
    font-size: 1em !important;
    line-height: normal;
    width: auto;
    overflow: hidden !important;
    /* this suppresses the hidden scrollbars on the right and bottom that were creating whitespace */
}

.gm-style .gm-style-iw-c {
    padding: 12px !important;
}

.gm-style-iw div {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -ms-user-select: text !important;
    -user-select: text !important;
}

/* link icons */

.pops {
    text-align: center;
}

.pops.add-photo {
    width: 250px;
    height: 250px;
    line-height: 250px;
    border: 1px solid #404040
}

.pops a {
    background: url(/images/e/e3/Popup-link.png) center right no-repeat !important;
    padding-right: 13px !important;
}

img.pops {
    box-shadow: 0px 16px 30px -14px rgb(0 0 0 / 50%);
    border-radius: 4px;
}

/* canyon table styles */

/* list icons */
#vri {
    background-image: url("/images/f/f2/Infoicon.png");
    position: relative;
    width: 16px;
    height: 20px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vrd {
    background-image: url("/images/f/fc/RegionIconDn.png");
    width: 20px;
    height: 17px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vru {
    background-image: url("/images/b/b1/RegionIconUp.png");
    width: 20px;
    height: 17px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxm {
    background-image: url("/images/5/58/Vxmapnx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxd {
    background-image: url("/images/6/67/Vxmaprx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxs {
    background-image: url("/images/6/69/Vxtopox.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxi {
    background-image: url("/images/8/89/Vxinfnx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxn {
    background-image: url("/images/1/10/Vxinfxx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxp {
    background-image: url("/images/c/c9/Vxpicnx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vx2 {
    background-image: url("/images/1/1f/Vx2wdnx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxH {
    background-image: url("/images/0/09/VxHighClearance.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 2px;
    margin-bottom: -2px;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vx4 {
    background-image: url("/images/4/40/Vx4wdnx.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 2px;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxc {
    background-image: url("/images/3/34/Vx2cars.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 2px;
    margin-bottom: 0px;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxw {
    background-image: url("/images/9/99/Vxwater.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: transparent !important;
    margin: 2px;
    margin-top: 4px;
    vertical-align: middle;
}

#vxe {
    background-image: url("/images/f/f5/Vxmapxx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

#vxx {
    background-image: url("/images/8/87/Vxx.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

.monthv {
    display: none;
}

/* smiley */
#cs0 {
    background-image: url("/images/d/d9/Smiley0.png");
    width: 18px;
    height: 18px;
}

#cs1 {
    background-image: url("/images/a/ab/Smiley1.png");
    width: 18px;
    height: 18px;
}

#cs2 {
    background-image: url("/images/0/0d/Smiley2.png");
    width: 18px;
    height: 18px;
}

#cs3 {
    background-image: url("/images/6/62/Smiley3.png");
    width: 18px;
    height: 18px;
}

#cs4 {
    background-image: url("/images/f/f1/Smiley4.png");
    width: 18px;
    height: 18px;
}

#cs5 {
    background-image: url("/images/9/9d/Smiley5.png");
    width: 18px;
    height: 18px;
}

/* waterflow */
#cw0 {
    background-image: url("/images/5/58/Waterflow0.png");
    width: 16px;
    height: 16px;
}

#cw1 {
    background-image: url("/images/4/47/Waterflow1.png");
    width: 16px;
    height: 16px;
}

#cw2 {
    background-image: url("/images/5/5a/Waterflow2.png");
    width: 16px;
    height: 16px;
}

#cw3 {
    background-image: url("/images/4/45/Waterflow3.png");
    width: 16px;
    height: 16px;
}

#cw4 {
    background-image: url("/images/d/d5/Waterflow4.png");
    width: 16px;
    height: 16px;
}

#cw5 {
    background-image: url("/images/e/e3/Waterflow5.png");
    width: 16px;
    height: 16px;
}

#cwA,
#cwa1 {
    background-image: url("/images/b/b1/WaterflowA.png");
    width: 16px;
    height: 16px;
}

#cwB,
#cwa2,
#cwa2p {
    background-image: url("/images/1/16/WaterflowB.png");
    width: 16px;
    height: 16px;
}

#cwC0 {
    background-image: url("/images/7/79/WaterflowC0.png");
    width: 16px;
    height: 16px;
}

#cwCB,
#cwa3 {
    background-image: url("/images/f/fc/WaterflowC%C2%BD.png");
    width: 16px;
    height: 16px;
}

#cwC1,
#cwa4,
#cwa4p {
    background-image: url("/images/2/29/WaterflowC1.png");
    width: 16px;
    height: 16px;
}

#cwC2,
#cwa5 {
    background-image: url("/images/3/31/WaterflowC2.png");
    width: 16px;
    height: 16px;
}

#cwC3,
#cwa6 {
    background-image: url("/images/6/60/WaterflowC3.png");
    width: 16px;
    height: 16px;
}

#cwC4,
#cwa7 {
    background-image: url("/images/e/e6/WaterflowC4.png");
    width: 16px;
    height: 16px;
}

/* wetsuit */
#ct0,
#ct0mm {
    background-image: url("/images/3/3a/Wetsuit0.png");
    width: 16px;
    height: 19px;
}

#ct1,
#ct1mm {
    background-image: url("/images/2/28/Wetsuit1.png");
    width: 16px;
    height: 19px;
}

#ct2,
#ct3mm {
    background-image: url("/images/f/f4/Wetsuit2.png");
    width: 16px;
    height: 19px;
}

#ct3,
#ct5mm {
    background-image: url("/images/3/38/Wetsuit3.png");
    width: 16px;
    height: 19px;
}

#ct4,
#ct7mm {
    background-image: url("/images/d/dd/Wetsuit4.png");
    width: 16px;
    height: 19px;
}

#ct5,
#ctXmm {
    background-image: url("/images/1/14/Wetsuit5.png");
    width: 16px;
    height: 19px;
}

/* danger level */
#cd0 {
    width: 1px;
    height: 1px;
}

#cd1 {
    width: 1px;
    height: 1px;
}

#cd2 {
    width: 1px;
    height: 1px;
}

#cd3 {
    background-image: url("/images/3/3e/Danger3.png");
    width: 17px;
    height: 16px;
}

#cd4 {
    background-image: url("/images/7/7d/Danger4.png");
    width: 17px;
    height: 16px;
}

#cd5 {
    background-image: url("/images/a/a8/Danger5.png");
    width: 17px;
    height: 16px;
}


/* best season */

.bsg {
    background-color: #00cd00 !important;
}

.bsy {
    background-color: #cede00 !important;
}

.bss {
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    background-color: black;
    border: 1px solid #000000 !important;
}

.bst {
    margin: 0 !important;
    font-size: 8px;
}

table.mbst {
    padding: 0;
    margin: 0;
    width: 80px;
    height: 4px;
}

table.mbst td {
    width: 2px;
    height: 3px;
    padding: 0;
    margin: 0;
}

.wchk {
    vertical-align: top;
    font-weight: bold;
    width: 80px;
}

/* setting the checkbox to .wchk was causing a circular reference for some reason */
.wchk__chk {
    vertical-align: top;
    font-weight: bold;
    margin: 0px;
    margin-left: 3px;
    margin-right: 1px;
    position: relative;
    top: 2px;
    left: -2px;
}

.toption {
    position: relative;
    font-size: xx-small;
}

.toption label {
    font-size: xx-small;
    margin: 0px;
    padding: 0px;
    float: left;
    position: absolute;
    bottom: 7px;
    left: 0em;
    text-align: left;
    width: 10em
}

.toption label input {
    top: 3px;
    position: relative;
    left: -1px;
}

.optionchk label input,
.slideshowschk {
    top: 2px;
    position: relative;
}

.locateicon {
    text-transform: none !important;
    font-size: xx-small;
    margin: 0px;
    padding: 0px;
    float: left;
    position: absolute;
    bottom: 40px;
    left: 14px;
    text-align: left;
    width: 50em
}

.colgroup {
    margin-top: 1.5em !important
}

.rwHdr {
    padding: 0;
    border-spacing: 0;
    white-space: nowrap;
    position: relative;
}

.trow {
    line-height: normal;
    padding: 0;
    border-spacing: 0;
    margin: 0;
    white-space: nowrap;
}

.trow:hover {
    background-color: #efefef;
}

.nearby {
    color: black;
    font-size: 90%;
}

.loc {
    line-height: normal;
    white-space: nowrap;
    font-weight: bold;
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.reg {
    font-size: x-small;
    line-height: 0.5;
    white-space: nowrap;
}

.itable,
.urap,
.utime {
    white-space: nowrap;
}

.itable {
    text-align: center;
}

.tablestat {
    text-align: right;
    margin-right: 2px;
}

.uaca {
    text-align: center;
}

.tablestat.dual-stat {
    float: right;
}

.tablestat.rap-longest {
    min-width: 46px;
    display: inline-block;
}

.tablestat.overall-time {}

.tablestat.overall-length {
    min-width: 40px;
    display: inline-block;
}

.tablestat-single {
    text-align: right;
}

/* star sizes */
.stable img {
    height: 12px;
    width: 12px;
}

.sshow img {
    height: 18px;
    width: 18px;
}

#AKA {
    font-weight: bold
}

#swiftwater {
    font-size: x-small;
    line-height: 0.5;
    vertical-align: middle;
    margin-bottom: 6px;
}

.tooltip {
    font-family: Roboto, Arial, sans-serif !important;
    font-size: small !important;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#tooltip {
    /* this is so the tooltip shows when the map is in fullscreen mode */
    z-index: 2147483647;
}

/* collapsible list styles */

.collapsibleList ul {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}

.collapsibleList li {
    list-style-image: url('/images/d/dc/Li-button.png');
    /*list-style-type:none;*/
    cursor: default;
}

li.collapsibleListOpen {
    list-style-image: url('/images/9/9d/Li-button-open.png');
    cursor: pointer;
}

li.collapsibleListClosed {
    list-style-image: url('/images/d/d6/Li-button-closed.png');
    cursor: pointer;
}

.addbutton {
    position: absolute;
    left: 0px;
    top: -2px;
    padding: 0px;
    border-width: 0px;
    width: 16px;
    height: 14px;
    font-size: 14px;
    color: rgb(118, 118, 118);
    box-shadow: none;
}

.addbutton:hover {
    cursor: pointer;
    background-color: rgb(215, 215, 215);
    color: black;
}

.tdate {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    min-width: 106px;
}

.tcomment {
    max-width: 500px;
    white-space: initial;
}

.rwHdr button {
    white-space: initial;
}

.SpeleosphereTitle:after {
    content: url("/images/d/dd/SpeleosphereTitle.png");
}

.SpeleosphereLogo:after {
    content: url("/images/a/ae/SpeleosphereLogo.png");
}

.tablecanyon {
    width: 310px;
    font-size: 90%;
    border: 1.5px solid rgba(0, 80, 138, .5);
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #eef1f5;
    color: black;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0.2em;
    text-align: left;
}

.tablecanyon th {
    text-align: right;
    width: 80px;
    padding-right: 4px;
}

tr.spaceUnder>td {
    padding-bottom: 0.75em;
}

.metric-chk {
    position: absolute;
    bottom: -25px;
    right: 20px;
    z-index: 1;
}

.tableregion {
    top: 0px;
    width: 320px;
    font-size: 90%;
    border: 1.5px solid rgba(0, 80, 138, .5);
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #eef1f5;
    color: black;
    margin-bottom: 20px;
    margin-left: 1em;
    padding: 0.2em;
    text-align: left;
}

.canyondisplay {
    width: 100%;
    border: 1px solid rgba(0, 80, 138, .75);
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 1px;
    color: black;
    font-size: 14px;
    text-align: center;
    table-layout: fixed;
}

.canyondisplay-thumbnail {
    width: 300px;
    height: 300px;
    overflow: visible;
}

.canyondisplay-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
}

.floatright.userlist {
    padding-top: 22px;
}

.regionheader {
    text-align: center;
    background-color: #ccccff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#loctabledata {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-collapse: initial;
    border-radius: 6px;
    border: none;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

#loctabledata th.rwHdr,
#loctabledata tr.trow>td {
    border: none;
    border-top: 1px #aaa solid;
    border-left: 1px #aaa solid;
}

#loctabledata th.rwHdr:last-of-type,
#loctabledata tr.trow>td:last-of-type {
    border-right: 1px #aaa solid;
}

#loctabledata tr.trow:last-of-type>td {
    border-bottom: 1px #aaa solid;
}

#loctabledata th.rwHdr:first-of-type {
    border-top-left-radius: 6px;
}

#loctabledata th.rwHdr:last-of-type {
    border-top-right-radius: 6px;
}

#loctabledata tr.trow:last-of-type>td:first-of-type {
    border-bottom-left-radius: 6px;
}

#loctabledata tr.trow:last-of-type>td:last-of-type {
    border-bottom-right-radius: 6px;
}

/* dynamic region menu for forms */
#setfieldmenu {
    display: none;
    position: absolute;
    left: 0em;
    top: 0em;
    background-color: white;
}

#setfieldtarget:hover #setfieldmenu {
    display: block
}

.setfield {
    cursor: pointer;
}

/* style links like buttons */
.button-link {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0', GradientType=0);
    background-color: #3d94f6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

.button-link:active {
    position: relative;
    top: 1px;
}

.button-link:visited {
    color: #ffffff;
}

/* rules to allow cut&past of coordinates*/
.textselect {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -ms-user-select: text !important;
    -user-select: text !important;
}

.mw-body h1,
h2 {
    font-family: "Avenir Next Condensed"
        /*iOS*/
        , Tahoma
        /*Desktop*/
        , "Open Sans Condensed"
        /*Android*/
        , sans-serif !important;
    font-weight: bold;
    color: #005189;
}

span.understate {
    font-weight: normal;
}

/* rules that only apply for small screen to improve UI on mobile */



iframe,
.embedvideo {
    max-width: 100% !important;
}


/* resize banner image to make it smaller*/
.tablecanyon .image img {
    width: auto !important;
    height: auto !important;
    max-width: 290px !important;
    max-height: 300px !important;
    margin-bottom: 10px;
}

/* styles for tabbed weather page */

div.tabArea {
    font-size: 80%;
    font-weight: bold;
    padding: 0px 0px 3px 0px;
}

.tabArea a {
    border: 2px solid #000000;
    border-bottom-width: 0px;
    border-color: #f0f0f0 #b0b0b0 #b0b0b0 #f0f0f0;
    -moz-border-radius: .75em .75em 0em 0em;
    border-radius-topleft: .75em;
    border-radius-topright: .75em;
    padding: 2px 1em 2px 1em;
    position: relative;
    text-decoration: none;
    top: 3px;
    z-index: 100;
}

.tabArea a:hover {
    border-color: #c0c0c0 #808080 #808080 #c0c0c0;
}

a.tab.activeTab,
a.tab.activeTab:hover,
a.tab.activeTab:visited {
    border-color: #b0b0b0 #707070 #505050 #b0b0b0;
}

a.tab.activeTab {
    padding-bottom: 4px;
    top: 1px;
    z-index: 102;
}

div.tabMain {
    border: 2px solid #000000;
    border-color: #b0b0b0 #707070 #505050 #b0b0b0;
    -moz-border-radius: 0em .5em .5em 0em;
    border-radius-topright: .5em;
    border-radius-bottomright: .5em;
    position: relative;
    z-index: 101;
}

div.tabIframeWrapper {
    width: 100%;
    height: 100%
}

iframe.tabContent {
    border: 1px solid #000000;
    border-color: #707070 #b0b0b0 #b0b0b0 #707070;
    width: 100%;
    height: 3024px;
}

.tabArea li,
.tabArea ul {
    display: inline;
    list-style-type: none;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    font-size: large;
}

#add-to-list {
    width: 29px;
    height: 36px;
    position: relative;
    vertical-align: bottom;
    bottom: 0px;
    margin-left: 6px;
    border: none;
    box-shadow: none;
    background-image: url("/images/e/ec/Add-to-list.png");
    background-color: transparent;
}

#add-to-list:hover {
    background-color: #ebebeb;
}

.firstHeading {
    overflow: visible !important;
    margin-bottom: 22px !important;
}

/* prevent problems with long urls */
a {
    max-width: 30em !important;
    word-wrap: break-word;
    /*overflow-wrap: break-word !important; 
-ms-word-break: break-word !important; 
word-break: break-word !important; 
*/
}

/*tabs*/
.tablinks {
    font-size: small
}

div.popupform-anchor,
.popupform-container {
    width: auto;
    height: auto;
    min-height: 420px;
    min-width: 800px;
    top: 5% !important;
    left: 9% !important;
}

.tipsy {
    /* this has something to do with the multimedia viewer. it was showing up in the upper left of the page */
    visibility: hidden !important;
}

/* used to highlight "yes" answers in incident reports */
.incident-highlight-Yes {
    background-color: #f6b26b;
}