/* This is imported by MediaWiki:Common.css */
/* Layout and basic structural styles */

p:has(+ .wikitable) {
  display: none;
} /* fixes extra <br> added by ask / template reported here: phabricator.wikimedia.org/T60991 */

.diff-currentversion-title {
  top: -14px;
  position: relative;
}

.previewnote {
  margin-bottom: 20px;
}

/* #content {
  transition: margin-left 0ms, padding 0ms !important;
} */

.formregiontable td,
th {
  vertical-align: top;
}

.note {
  border: 1px solid black;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  background: #ddffee;
}

.firstHeading {
  overflow: visible !important;
  margin-bottom: 22px !important;
}