/* Table styles */

.wikitable th {
  /*sticky table headers (doesn't work on mobile because of the overflow-auto) */
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background-color: #c9deed !important;
  box-shadow: inset 0 1px 0 #aaaaaa, inset 0 -1px 0 #aaaaaa;
  z-index: 1;
}

th.headerSort {
  white-space: nowrap;
}