/* This is imported by MediaWiki:Common.css */
/* Form and input styles */

input,
button {
  color: black;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#simpleSearch input {
  box-shadow: none;
}

input:hover,
button:hover,
label:hover {
  background-color: #ebebeb;
}
input:focus,
button:focus,
label:focus {
  outline-color: darkgray;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none; /*remove default styling on mobile for input buttons*/
}

.gm-ui-hover-effect {
  box-shadow: none; /*close button in upper right on marker popup*/
}

.toggleswitch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 12px;
  top: 5px;
}

.toggleswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggleslider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -4px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 5px grey;
}

input:checked + .toggleslider {
  background-color: #2196f3;
}

input:checked + .toggleslider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.toggleslider.round {
  border-radius: 18px;
}

.toggleslider.round:before {
  border-radius: 50%;
}

input[type="date"] {
  width: 100px;
}

input::-webkit-datetime-edit {
  overflow: visible;
}

.userlistbutton {
  color: rgb(25, 25, 25);
  background-color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #cecece;
  border-radius: 4px;
  height: 28px;
}

.userlistbutton.edit {
  width: 64px;
  font-size: 15px;
  line-height: 20px;
}

.userlistbutton.commit {
  width: 30px;
  font-size: 15px;
  background-color: #70a0f9;
  color: white;
}

.userlistbutton.cancel {
  padding-left: 5px;
  width: 30px;
  font-size: 16px;
  line-height: 24px;
}

.userlistbutton.remove {
  line-height: 0px;
  font-size: 18px;
}

.userlistbutton.edit:hover {
  background-color: #eaeaea;
}

.userlistbutton.cancel:hover {
  background-color: #eaeaea;
}

.userlistbutton.commit:hover {
  background-color: #648cd6;
}

.userlistbutton.remove:hover {
  background-color: #ec7f6d;
}

.userlistbutton.showmore {
  margin: 4px;
}

.formtable td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.generalcomment-header {
  vertical-align: top;
  padding-top: 10px;
  width: 130px;
}

.generalcomment-cell {
  vertical-align: top;
}

#generalcomment-comment {
  padding: 10px;
  display: block;
}

#modal-userdate {
  width: 120px;
}

/* pdf download */

#pdfselect::-ms-expand {
  display: none !important;
}

#pdfselect {
  width: 27px;
  height: 32px;
  position: relative;
  vertical-align: bottom;
  bottom: 6px;
  margin-left: 6px;
  background-image: url("/images/a/ad/DownIcon.png");
  background-color: transparent;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  border: none !important;
}

#pdfselect:hover {
  background-color: #ebebeb;
}

#pdfselect option {
  color: initial !important;
  background-color: initial !important;
}

#pdfselect option:first-child {
  font-weight: bold;
}

#add-to-list {
  width: 29px;
  height: 36px;
  position: relative;
  vertical-align: bottom;
  bottom: 0px;
  margin-left: 6px;
  border: none;
  box-shadow: none;
  background-image: url("/images/e/ec/Add-to-list.png");
  background-color: transparent;
}

#add-to-list:hover {
  background-color: #ebebeb;
}