/* Modal and popup styles */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top; needs to be this high to cover the map */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-locationname {
  color: #0645ad;
}

.modal-details {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-comment {
  font-family: arial;
  font-size: 14px;
  border: 1px solid #808080;
  padding: 4px;
  border-radius: 3px;
  max-width: 46%;
  word-break: break-word;
}

.modal-comment-header {
  vertical-align: top;
}

div.popupform-anchor,
.popupform-container {
  width: auto;
  height: auto;
  min-height: 420px;
  min-width: 800px;
  top: 5% !important;
  left: 9% !important;
}