/* Navigation and UI elements */

li#n-How-to-contribute a {
  margin-left: -5px;
  border-radius: 5px;
  background-color: lightblue;
  padding: 5px;
}

div#mw-panel div.portal div.body ul li {
  font-size: 0.875em;
}

.textselect a {
  outline: none;
}

button.gm-ui-hover-effect {
  outline: none;
}

li img {
  /* this is for the country flag that appears next to beta site links */
  padding-right: 3px;
}

#loadmore button {
  margin-bottom: 4px;
}

#searchinfo.cancel {
  position: relative;
  bottom: 6px;
}

/* translation autohide */
#google_translate_flags {
  float: right;
  margin-left: 40px;
}

#google_translate_flags table {
  position: relative;
}
#google_translate_flags img {
  position: absolute;
  top: 4px;
  right: 2px;
}

#google_translate_element {
  display: none;
}

#google_translate_flags:hover #google_translate_element {
  display: table-cell;
  position: relative;
  bottom: 8px;
  right: 44px;
}

/*tabs*/
.tablinks {
  font-size: small;
}

/* styles for tabbed weather page */

div.tabArea {
  font-size: 80%;
  font-weight: bold;
  padding: 0px 0px 3px 0px;
}

.tabArea a {
  border: 2px solid #000000;
  border-bottom-width: 0px;
  border-color: #f0f0f0 #b0b0b0 #b0b0b0 #f0f0f0;
  -moz-border-radius: 0.75em 0.75em 0em 0em;
  border-radius-topleft: 0.75em;
  border-radius-topright: 0.75em;
  padding: 2px 1em 2px 1em;
  position: relative;
  text-decoration: none;
  top: 3px;
  z-index: 100;
}

.tabArea a:hover {
  border-color: #c0c0c0 #808080 #808080 #c0c0c0;
}

a.tab.activeTab,
a.tab.activeTab:hover,
a.tab.activeTab:visited {
  border-color: #b0b0b0 #707070 #505050 #b0b0b0;
}

a.tab.activeTab {
  padding-bottom: 4px;
  top: 1px;
  z-index: 102;
}

div.tabMain {
  border: 2px solid #000000;
  border-color: #b0b0b0 #707070 #505050 #b0b0b0;
  -moz-border-radius: 0em 0.5em 0.5em 0em;
  border-radius-topright: 0.5em;
  border-radius-bottomright: 0.5em;
  position: relative;
  z-index: 101;
}

div.tabIframeWrapper {
  width: 100%;
  height: 100%;
}

iframe.tabContent {
  border: 1px solid #000000;
  border-color: #707070 #b0b0b0 #b0b0b0 #707070;
  width: 100%;
  height: 3024px;
}

.tabArea li,
.tabArea ul {
  display: inline;
  list-style-type: none;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
  font-size: large;
}

/* styles for event timeline */

.timeline-event-bubble-time {
  display: none;
}

.timeline-event-bubble-body {
  font-size: small;
}