/* Conditions and weather styles */

tr.conditions-stats {
  background-color: #5a91b70f;
  text-align: center;
}

tr.conditions-comment {
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-bottom-color: #005189;
}

/* the padding around conditions shouldn't apply to attached images */
tr.conditions-comment td {
  padding: 10px !important;
}

.conditionreport {
  margin-top: -2px;
  margin-bottom: 5px;
}
.conditionreport b {
  font-size: 18px;
  line-height: 1.4;
}
.conditionreport .cicons {
  margin-top: -4px;
}

.conditionsnippet {
  font-style: italic;
  width: 95%;
  overflow: hidden;
  max-height: 60px;
  max-width: 226px;

  display: -webkit-box; /* this formats it to max of 3 rows with ellipsis at the end */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

span.conditionreport-user-info {
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
  display: list-item;
  margin: 20px;
  max-width: 700px;
}

.trip-report-url {
  background-color: #ffff9c;
}

.cicons,
.cicons hr {
  display: inline-block;
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.cicons.wftable {
  padding-top: 18px;
}

/* condition table */
.ctable {
  font-size: smaller;
}

.ctable span {
  margin-right: 2px;
}

.table.condition-date {
  width: 72px;
  font-size: 12px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

/* best season */

.bsg {
  background-color: #00cd00 !important;
}
.bsy {
  background-color: #cede00 !important;
}

.bss {
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  background-color: black;
  border: 1px solid #000000 !important;
}

.bst {
  margin: 0 !important;
  font-size: 8px;
}

table.mbst {
  padding: 0;
  margin: 0;
  width: 80px;
  height: 4px;
}

table.mbst td {
  width: 2px;
  height: 3px;
  padding: 0;
  margin: 0;
}

.wchk {
  vertical-align: top;
  font-weight: bold;
  width: 80px;
}
/* setting the checkbox to .wchk was causing a circular reference for some reason */
.wchk__chk {
  vertical-align: top;
  font-weight: bold;
  margin: 0px;
  margin-left: 3px;
  margin-right: 1px;
  position: relative;
  top: 2px;
  left: -2px;
}

.toption {
  position: relative;
  font-size: xx-small;
}
.toption label {
  font-size: xx-small;
  margin: 0px;
  padding: 0px;
  float: left;
  position: absolute;
  bottom: 7px;
  left: 0em;
  text-align: left;
  width: 10em;
}
.toption label input {
  top: 3px;
  position: relative;
  left: -1px;
}

.optionchk label input,
.slideshowschk {
  top: 2px;
  position: relative;
}

.locateicon {
  text-transform: none !important;
  font-size: xx-small;
  margin: 0px;
  padding: 0px;
  float: left;
  position: absolute;
  bottom: 40px;
  left: 14px;
  text-align: left;
  width: 50em;
}

/* inline weather */
.wst {
  position: relative;
  margin-bottom: 10px;
}
th.wstheader {
  font-size: 10px;
}
.wstheader.units {
  position: relative;
  right: 4px;
}
.wstheader.weekend {
  background-color: #d4d4d4 !important;
}
.wstheader a {
  position: relative;
  line-height: 1;
  font-size: 100%;
  padding: 0;
}
.wstheader.units {
  position: relative;
  right: 4px;
}
.wstlogo {
  content: url("/images/f/f2/OpenWeatherLogo.png");
  position: absolute;
  width: 50px;
  left: -55px;
  top: 42px;
}
.weatherh {
  font-size: 11px;
  line-height: 1;
  padding: 0;
  text-align: center;
  color: red;
}
.weatherl {
  font-size: 11px;
  line-height: 1;
  padding: 0;
  text-align: center;
  color: blue;
}
.weatherimg {
  min-width: 22px;
  height: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-color: #c1ddfa;
}
.weatheralert {
  color: red;
  font-weight: bold;
  line-height: 1.1;
  font-size: 10px;
  padding: 0;
}

#waterflow-table th {
  vertical-align: middle;
}

.waterflow-table-th-datacolumn {
  vertical-align: top !important;
}

.waterflow-table-column-outlined {
  border: 4px solid #0051899c;
}

.waterflow-location {
  display: inline;
  white-space: nowrap;
}

.waterflow-explanation {
  white-space: nowrap;
  font-weight: normal;
}

.waterflow-sitedescription {
  white-space: nowrap;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#waterflowdiv img {
  margin-right: 5px;
}

.waterflow-location {
  display: inline;
  white-space: nowrap;
}

.waterflow-explanation {
  white-space: nowrap;
  font-weight: normal;
}

.waterflow-sitedescription {
  white-space: nowrap;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
}